/*Código armado por La Foca Loca S.A. No modificar*/
* {
  padding:0;
  margin:0;
}

body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 3% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 0;
  animation: fadein 5s;
}
li::before {
  content: "• ";
  color: #fda77f;
}

.col-40 h1 {
  background-color:#fda77f;
  text-align:center;
  font-size: 1.5em;  
  color:#445c3c;
}

.col-40 h2 {
  text-align:left;
  font-size: 1.3em;  
  color:#fda77f;
}

.col-40 div {
  margin-bottom:3%;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  padding:0;
  vertical-align: center;
  border:2px solid #3c4245;
}

.col-40 {
  vertical-align: top;
  background: #445c3c;
  color: #fae8c8;
  padding:1%;
}

.col-60 {
  background-color: #c9d99e;
  width: 60%;
  height: 75%;
}

#instrucciones {
  padding:0;
}

#juego {
  width:600px;
  height:600px;
}

.pieza {
  box-sizing:border-box;
  float: left;
  width:33.33%;
  height:33.33%;
}

.pieza img {
  box-sizing:border-box;
  width:100%;
  height:100%;
  border: 1px solid white; 
}

#flecha{
  font-size: 60px;
}

.texto-centrado {
  text-align: center;
}

#objetivo img {
  width:60%;
  height:60%;
  margin:4%;
  border:2px solid #fda77f;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
}

#cartelGanador {
  text-align: center;
  width:100%;
}

#cartelGanador img {
  width:60%;
  height:60%;
  padding:4%;
}

#footer {
  background-color:#3c4245;
  width:100%;
  height:1.5em;
  text-align:center;
  color:white;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
